name: deployment 

on:
    push: 
        branches: [main]

jobs: 
    deploy:
        runs-on: ubuntu-latest
        defaults:
            run:
             working-directory: backend
        steps:
            - name: Checkout 
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: 18  
            - name: Installing dependency 
              run: npm install 

            - name: Run Tests
              run: npm test

            - name: Build Docker Images
              run: docker build -t ${{secrets.DOCKER_USERNAME}}/backend-app:latest .

            - name: Login Details 
              run: echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u "${{secrets.DOCKER_USERNAME}}" --password-stdin

            - name: push docker image 
              run: docker push ${{secrets.DOCKER_USERNAME}}/backend-app:latest